workDir = "${projectDir}/work"

params {
    samplesheet = null
    outdir = "${projectDir}/results"
    fna = null
    blob = null
    max_samples = 1
}

process {
    withLabel: snpdetect {
        cpus = 2
        memory = '32 GB'
        time = '12h'
        container = "${projectDir}/containers/snpdetect_java8_samtools.sif"
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /research_jude -B /research -B /datasets'
}

report { overwrite = true }
timeline { overwrite = true }
trace { overwrite = true }
dag { overwrite = true }

profiles {
    stjude {
        includeConfig 'conf/stjude.config'
    }
}